/*
 * Globals
 */

body {
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: normal;
  color: #333;
  margin-top: 0;
}


/*
 * Override Bootstrap's default container.
 */
/* waw
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}*.


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 26px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 20px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 31.5px;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 9px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.profile
{
}
.profile p
{
  
}
.profile .top
{
  height: 140px;
}
.profile .photo
{
  float: left;
  margin-right: 15px;
}

/* about me section */
.social-rss,.social-facebook,.social-linkedin,.social-github,.social-twitter,.social-stackoverflow{display:inline-block;float:left;margin:5px;height:32px;width:32px;background-size:32px 32px}
.social-rss{background-color:#ff8300;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABs0lEQVR42u3XO0hCURzHcbXiDmWWjxB6rIVESy5RBE5SQ5N7tNbmFmFDY0FzGA3tQUgJLREhCEE1uEQPbIjoQWqJVBBi3yX4c7gKV6/a4A8+yzlH+HHPPUe1lEqlpmoVaBUoN2GDE3ZYm1HAiVs8IoUYVhFAZyMKuFGAXtLYgK/eBb5QKd/YwlA9Cjhwijt8oFJesVCvU6DBiyksI4ly2YLWiGM4iT3o5RBdZhTowDhG4CizZhY3UBOHVmsBD/Io4glHWIRXZ10MaqJmnII81LwgotwF7diFmvlan0AR5XKBMaXEAWRyGKi2gB1RnOAZeslgWnzGhTRkts04BU6EkICaHEbF2iBkfjBs1jG0IayzNSnlnYhBZtPseyCkUyIi5icg84jOagsMYg5+ZTwMmXf0wQIrziETqKbADDL4yzqsYjvOILMkPrsCmTWjBTRcQ41f2QqZYzE3BZm40QK9KEBNSKzpQVbMvYlr24tPMXeFNqM/yeKQKeh89ych4xNP8EGMZ9Ft9B3oxz6ecImgzpod5AS5RQkxfg9XtcfQAVuFG9MjdMhtFONu2Fr/C1oF/mWBX96rvJ4t0gubAAAAAElFTkSuQmCC)}
.social-facebook{background-color:#3B5998;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA0ElEQVRYw2P4//8/w0BihlEHjDqASgZxA7EIEAsAMTs9HeAOxJuB+BEQvwXil0C8E4iZ6OGAlP/YwQ16hIAkEH/B4YCr9HBAKJql24E4EiruTA8HZKI5wJbeuSBjoB2QhuYAa3o4gBmIlwHxESC+h+aAy1BxEF5Kq2zIAsRP/hMGN2kVAiAHPCPCARdoGQU90CA+jWbpHqg4CFfSIxEmoTnAlN65AL0csBt1wKgDRpwDstAcYE9vByQA8XskbElvB3ACsSgSZh3tF4w6YMg6AAASl1o+Ox5KuwAAAABJRU5ErkJggg==)}
.social-twitter{background-color:#39A9E0;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABO0lEQVR42u3WsUsCUQDH8c5zMCgc0oaWwyFBhyAIjaaEtmjxH2gQwgQb+x9qamtsCJol0NXbqqlRwcZDHBKFIAzhnt8tkHzXvXsVxPvBh1se734c7957S0KIP2UKmAKmgM7JEtiEo6uAhY1vTlRBF1O8o40iUqhiS6XAOl5wGPDyGr7KBAM04cAOW2AbgnzgZMGYNYywKD4eUEEsbIEMfPGZe+zOjdlDUC5hqy7CJubj4hwlHEOWIRKqizCNMjzpJ5bHw7JqgRzeMIZqHqP8hjG4iJKrqBtRFh2oZl/HTniANsLmGXEdBWpQyZGusyCOa4TJzU8cRgXcISguVjQdRjwBB3X0IEsDSR2noYUSbtGBD1n6OIOl8z5gYwcXeMIrpvAxgYcWTpH+jQtJClnkkcGquZKZAqbAvygwA0L3uA3c62FdAAAAAElFTkSuQmCC)}
.social-github{background-color:#4183C4;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB3klEQVR42u3XO0scURjGcXdd75dZtRA0leksLALWKWxEFAQRFdfLKthok6+QztIoNhHxCoqFeCkFERH8BAoqIjhrQtAiETVrDOO/eIrDNM7FC8K+8IM9Z/Y9+5zZHWY2y3GcN5UJkAkQpjkH5ZL7WgEs9GMdNtKSwgaSsF4qQA9sONQfbGFKtvAbjsL0PWeAKCa0+ImClCHLJY5uHOm9k8gOHcD48BkUeHh/PqahEOECdGqhOURQ7SFAFWKYUW930AAluMCZdv4Jt9hGE5oxjBG0ogGbuEEj8nCKnygNEiChHfRq3AivlXSvESTAmnZsBQjQr55S3GDTb4AYUtjVOFuvvdah8YPdwQ/k+Alg4R7zGn/AP/ipOvXOqrfMb4A0FjSuwX/4qXpXgLjfr8DGnsbF+AWvlUaVendxgZjnALKKv8ap+w6vtWGcyTusB7kKurTYoMaV2MdTdYCP6klqLhEkQBFssTRXiAEs4tp1ylcwjLhxCZ4jhWLfAaQdjhaPGvO1uDMCPOCzcTyCZR3rCHszGtNCS8buhuCur8bOFzU3/hx3wwi+acFTtOEL3DWKFuN2PIFo2ACmBGw8VSn0vuQjWRJrOMYlrnCsuQHEX+uhNBcVkpf5X5AJ8G4DPAJQo8gomjglGQAAAABJRU5ErkJggg==)}
.social-stackoverflow{background-color:#F47920;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABjklEQVR42u3WTSiDcRzAce9NK2+lsK2FCWeZqHFSCxEtB0mK2sHBYQl5KQ6GVnKzowt5KylFLlJORJRyXzIHJHlPj6/6HZ7Top7/luxfn3r+v6ee//fw9GwJmqbFVDwgHqDqwYlIi1WAFecIRCsgDSW6fRY+cRSNgCQs4w423fwEDzArDRBefK9t3WxRZqXKA8SaHOiVvU/2TSoCktGHYt0sDzd4gg11EjCkIqBGHv4IH0wyb5P5LuxyvaEiwIxuhOSQMzTIvaDM/DjFusp3IBMz0GQtoQrHGJD7qUYH9GIObmTLrEj3Et7CovJTvAlN1jP20I9KeDGo4rfAiSK5Tkc1RnGAD13QJRxwIcOogCSEEZDDK2CBCSkogBuzWIVLYmqNDLjCBJzQZL3jGqfYQhCdKJf7LqMD/MjHMOaxgn1cIIxXLMChKmAaVrSgFR50oAf9GEc9ylQFjKELkdYUClUFTCIbjRHYVQWEsIN2NEfgwYiKgEM84u0HXnAPpyEBIge5v5T67/+WxwP+TsAXa9RqRlUJvAQAAAAASUVORK5CYII=)}
.social-linkedin{background-color:#007FB1;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABJUlEQVR42u3WPUuCURiH8QoJAhellyXyBZuCoMYIGpqDbNJa2hT7AEFfoKWoJZoKos2v0BJN0RApuNTeFkhBS8bjNdzD4U9BmM8p8NzwW+7DwYsHDjgURdGfCgEh4F8HjKGCA5Qx4jNgGJdwZ89nQArvEtDyGTCKpgTUvQWYBVzhEXVMD9wrWEUZJWxi0fZJ2M6wM1Wc4wK7KPwm4BbunNg+D51t3EPnFVu9BlzDnSPbZ/EB+aFvp4P5fgZkLEDnBTd4hs5ZPwNmoAEPyNj5FBpy/oREnF9gQ+7W5LyNdJwBS3J3Tc7fMBlnwPIPAiZiegX+A3LoDHRAHp8+Au7gzqntZ6GzIneLkUwvr2AHx45124/jUM5ycndOzveRDP+KQ0AI+EoXgZ24oNRosBkAAAAASUVORK5CYII=)}

/* code font */
.inline-code{
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* responseive image */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  -webkit-padding-start: 0px;
}

.tag_box li {
  line-height: 28px; 
}

.tag_box li i {
  opacity: 0.9; 
}

.tag_box.inline li {
  float: left; 
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; 
}

.top-buffer-20 { 
  margin-top:20px; 
}

.bottom-buffer-10 {
  margin-bottom:10px;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; 
}

.tag_box a:hover {
  background-color: #e5e5e5; 
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; 
}

/* navbar */
.navbar {
  margin-bottom: 30px;
}

.navbar-default {
    background-color: #428bca;
    border-color: #E7E7E7;
    background-image: none;
    background-repeat: none;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #cdddeb;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #cdddeb;
    text-shadow:none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #cdddeb;
    text-shadow:none;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #428bca;
    background-image: none;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #428bca;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #cdddeb;
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #cdddeb;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #cdddeb;
    }
}

/* Better styles for embedding GitHub Gists */
.gist{font-size:16px;line-height:22px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}



/* pagination */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  -webkit-padding-start: 0px;
}

.pagination ul>li {
  display: inline;
}

.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}

.pagination ul>li>a, .pagination ul>li>span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
