/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.top-buffer-20 { 
  margin-top:20px; }

.bottom-buffer-10 {
  margin-bottom:10px;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.page-header {
  padding-bottom: 9px;
  margin: 10px 0 10px;
  border-bottom: 1px solid #eeeeee;
}

.post-full .date {
  margin-bottom: 10px;
  font-weight: bold;
}


.profile
{
  margin-top: 15px;
  width: 240px;
}
.profile p
{
  font-size: 13px;
}
.profile .top
{
  height: 140px;
}
.profile .photo
{
  float: left;
  margin-right: 15px;
}

.social-rss,.social-facebook,.social-linkedin,.social-github,.social-twitter,.social-stackoverflow{display:inline-block;float:left;margin:5px;height:32px;width:32px;background-size:32px 32px}
.social-rss{background-color:#ff8300;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABs0lEQVR42u3XO0hCURzHcbXiDmWWjxB6rIVESy5RBE5SQ5N7tNbmFmFDY0FzGA3tQUgJLREhCEE1uEQPbIjoQWqJVBBi3yX4c7gKV6/a4A8+yzlH+HHPPUe1lEqlpmoVaBUoN2GDE3ZYm1HAiVs8IoUYVhFAZyMKuFGAXtLYgK/eBb5QKd/YwlA9Cjhwijt8oFJesVCvU6DBiyksI4ly2YLWiGM4iT3o5RBdZhTowDhG4CizZhY3UBOHVmsBD/Io4glHWIRXZ10MaqJmnII81LwgotwF7diFmvlan0AR5XKBMaXEAWRyGKi2gB1RnOAZeslgWnzGhTRkts04BU6EkICaHEbF2iBkfjBs1jG0IayzNSnlnYhBZtPseyCkUyIi5icg84jOagsMYg5+ZTwMmXf0wQIrziETqKbADDL4yzqsYjvOILMkPrsCmTWjBTRcQ41f2QqZYzE3BZm40QK9KEBNSKzpQVbMvYlr24tPMXeFNqM/yeKQKeh89ych4xNP8EGMZ9Ft9B3oxz6ecImgzpod5AS5RQkxfg9XtcfQAVuFG9MjdMhtFONu2Fr/C1oF/mWBX96rvJ4t0gubAAAAAElFTkSuQmCC)}
.social-facebook{background-color:#3B5998;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA0ElEQVRYw2P4//8/w0BihlEHjDqASgZxA7EIEAsAMTs9HeAOxJuB+BEQvwXil0C8E4iZ6OGAlP/YwQ16hIAkEH/B4YCr9HBAKJql24E4EiruTA8HZKI5wJbeuSBjoB2QhuYAa3o4gBmIlwHxESC+h+aAy1BxEF5Kq2zIAsRP/hMGN2kVAiAHPCPCARdoGQU90CA+jWbpHqg4CFfSIxEmoTnAlN65AL0csBt1wKgDRpwDstAcYE9vByQA8XskbElvB3ACsSgSZh3tF4w6YMg6AAASl1o+Ox5KuwAAAABJRU5ErkJggg==)}
.social-twitter{background-color:#39A9E0;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABO0lEQVR42u3WsUsCUQDH8c5zMCgc0oaWwyFBhyAIjaaEtmjxH2gQwgQb+x9qamtsCJol0NXbqqlRwcZDHBKFIAzhnt8tkHzXvXsVxPvBh1se734c7957S0KIP2UKmAKmgM7JEtiEo6uAhY1vTlRBF1O8o40iUqhiS6XAOl5wGPDyGr7KBAM04cAOW2AbgnzgZMGYNYywKD4eUEEsbIEMfPGZe+zOjdlDUC5hqy7CJubj4hwlHEOWIRKqizCNMjzpJ5bHw7JqgRzeMIZqHqP8hjG4iJKrqBtRFh2oZl/HTniANsLmGXEdBWpQyZGusyCOa4TJzU8cRgXcISguVjQdRjwBB3X0IEsDSR2noYUSbtGBD1n6OIOl8z5gYwcXeMIrpvAxgYcWTpH+jQtJClnkkcGquZKZAqbAvygwA0L3uA3c62FdAAAAAElFTkSuQmCC)}
.social-github{background-color:#4183C4;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB3klEQVR42u3XO0scURjGcXdd75dZtRA0leksLALWKWxEFAQRFdfLKthok6+QztIoNhHxCoqFeCkFERH8BAoqIjhrQtAiETVrDOO/eIrDNM7FC8K+8IM9Z/Y9+5zZHWY2y3GcN5UJkAkQpjkH5ZL7WgEs9GMdNtKSwgaSsF4qQA9sONQfbGFKtvAbjsL0PWeAKCa0+ImClCHLJY5uHOm9k8gOHcD48BkUeHh/PqahEOECdGqhOURQ7SFAFWKYUW930AAluMCZdv4Jt9hGE5oxjBG0ogGbuEEj8nCKnygNEiChHfRq3AivlXSvESTAmnZsBQjQr55S3GDTb4AYUtjVOFuvvdah8YPdwQ/k+Alg4R7zGn/AP/ipOvXOqrfMb4A0FjSuwX/4qXpXgLjfr8DGnsbF+AWvlUaVendxgZjnALKKv8ap+w6vtWGcyTusB7kKurTYoMaV2MdTdYCP6klqLhEkQBFssTRXiAEs4tp1ylcwjLhxCZ4jhWLfAaQdjhaPGvO1uDMCPOCzcTyCZR3rCHszGtNCS8buhuCur8bOFzU3/hx3wwi+acFTtOEL3DWKFuN2PIFo2ACmBGw8VSn0vuQjWRJrOMYlrnCsuQHEX+uhNBcVkpf5X5AJ8G4DPAJQo8gomjglGQAAAABJRU5ErkJggg==)}
.social-stackoverflow{background-color:#F47920;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABjklEQVR42u3WTSiDcRzAce9NK2+lsK2FCWeZqHFSCxEtB0mK2sHBYQl5KQ6GVnKzowt5KylFLlJORJRyXzIHJHlPj6/6HZ7Top7/luxfn3r+v6ee//fw9GwJmqbFVDwgHqDqwYlIi1WAFecIRCsgDSW6fRY+cRSNgCQs4w423fwEDzArDRBefK9t3WxRZqXKA8SaHOiVvU/2TSoCktGHYt0sDzd4gg11EjCkIqBGHv4IH0wyb5P5LuxyvaEiwIxuhOSQMzTIvaDM/DjFusp3IBMz0GQtoQrHGJD7qUYH9GIObmTLrEj3Et7CovJTvAlN1jP20I9KeDGo4rfAiSK5Tkc1RnGAD13QJRxwIcOogCSEEZDDK2CBCSkogBuzWIVLYmqNDLjCBJzQZL3jGqfYQhCdKJf7LqMD/MjHMOaxgn1cIIxXLMChKmAaVrSgFR50oAf9GEc9ylQFjKELkdYUClUFTCIbjRHYVQWEsIN2NEfgwYiKgEM84u0HXnAPpyEBIge5v5T67/+WxwP+TsAXa9RqRlUJvAQAAAAASUVORK5CYII=)}
.social-linkedin{background-color:#007FB1;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABJUlEQVR42u3WPUuCURiH8QoJAhellyXyBZuCoMYIGpqDbNJa2hT7AEFfoKWoJZoKos2v0BJN0RApuNTeFkhBS8bjNdzD4U9BmM8p8NzwW+7DwYsHDjgURdGfCgEh4F8HjKGCA5Qx4jNgGJdwZ89nQArvEtDyGTCKpgTUvQWYBVzhEXVMD9wrWEUZJWxi0fZJ2M6wM1Wc4wK7KPwm4BbunNg+D51t3EPnFVu9BlzDnSPbZ/EB+aFvp4P5fgZkLEDnBTd4hs5ZPwNmoAEPyNj5FBpy/oREnF9gQ+7W5LyNdJwBS3J3Tc7fMBlnwPIPAiZiegX+A3LoDHRAHp8+Au7gzqntZ6GzIneLkUwvr2AHx45124/jUM5ycndOzveRDP+KQ0AI+EoXgZ24oNRosBkAAAAASUVORK5CYII=)}

.inline-code{font-family: Consolas, "Liberation Mono", Courier, monospace;}
