@charset "UTF-8";

body,button,input,select,textarea,pre {
margin:0
}

h1,h2,h3,h4,h5,h6,p,dl,ol,ul {
margin-top:0;
margin-bottom:1rem
}

/* button,input,select,textarea {
font-family:inherit;
font-size:100%
} */

article,aside,details,figcaption,figure,footer,header,main,nav,section,summary {
display:block
}

body {
/* font-family:'Helvetica Neue',Helvetica,sans-serif; */
/* line-height:1.5rem;
font-weight:400 */
}

/* h1,.h1,.f1 {
font-size:2rem;
line-height:2.5rem
} */

h2,.h2,.f2 {
font-size:1.5rem;
line-height:2rem
}

h3,.h3,.f3 {
font-size:1.25rem;
line-height:1.5rem
}

p,.p,.f4,h4,h5,h6,dl,ol,ul {
font-size:1.125rem;
line-height:1.5rem
}

small,.small,.f5 {
font-size:.875rem;
line-height:1.5rem
}

/* @media screen and (min-width: 48em) {
.h1 {
font-size:4rem;
line-height:5rem
} */

.h2 {
font-size:2rem;
line-height:2.5rem
}
/* 
.h3 {
font-size:1.5rem;
line-height:2rem
}

.p {
font-size:1.25rem;
line-height:2rem
}

.small {
font-size:1rem
}
}
*/
@media screen and (min-width: 64em) {
/* .h1 {
font-size:6rem;
line-height:8rem
}  */

.h2 {
font-size:3rem;
line-height:3.5rem
}
}

strong,.bold {
font-weight:700
}
/* 
.regular {
font-weight:400
}

.italic {
font-style:italic
}

.caps {
text-transform:uppercase;
letter-spacing:.2em
}

.center {
text-align:center
}

.right-align {
text-align:right
} */

.measure {
max-width:48rem
}
/* 
.measure-narrow {
max-width:32rem
}

.measure-wide {
max-width:60rem
}

.leading-1 {
line-height:1.5rem
}

.leading-2 {
line-height:2rem
}

.leading-3 {
line-height:3rem
}

.leading-4 {
line-height:4rem
}

.m0 {
margin:0
}

.mb0 {
margin-bottom:0
} 

.m1 {
margin:1rem
} */

.mt1 {
margin-top:1rem
}
/* 
.mr1 {
margin-right:1rem
}

.mb1 {
margin-bottom:1rem
}

.ml1 {
margin-left:1rem
}

.m2 {
margin:2rem
} */

.mt2 {
margin-top:2rem
}
/* 
.mr2 {
margin-right:2rem
}

.mb2 {
margin-bottom:2rem
}

.ml2 {
margin-left:2rem
}

.m3 {
margin:3rem
}

.mt3 {
margin-top:3rem
}

.mr3 {
margin-right:3rem
}

.mb3 {
margin-bottom:3rem
}

.ml3 {
margin-left:3rem
}

.m4 {
margin:4rem
}

.mt4 {
margin-top:4rem
}

.mr4 {
margin-right:4rem
}

.mb4 {
margin-bottom:4rem
}

.ml4 {
margin-left:4rem
} */

.wrap {
margin-right:auto;
margin-left:auto
}
/* 
.m-responsive {
margin:2rem
}

.mt-responsive {
margin-top:2rem
}

.mr-responsive {
margin-right:2rem
}

.mb-responsive {
margin-bottom:2rem
}

.ml-responsive {
margin-left:2rem
}

@media screen and (min-width: 48em) and (max-width: 64em) {
.m-responsive {
margin:3rem
}

.mt-responsive {
margin-top:3rem
}

.mr-responsive {
margin-right:3rem
}

.mb-responsive {
margin-bottom:3rem
}

.ml-responsive {
margin-left:3rem
}
}

@media screen and (min-width: 64em) {
.m-responsive {
margin:4rem
}

.mt-responsive {
margin-top:4rem
}

.mr-responsive {
margin-right:4rem
}

.mb-responsive {
margin-bottom:4rem
}

.ml-responsive {
margin-left:4rem
}
}

.p1 {
padding:1rem
}

.px1 {
padding-right:1rem;
padding-left:1rem
}

.py1 {
padding-top:1rem;
padding-bottom:1rem
} */

.p2 {
padding:2rem
}

.px2 {
padding-right:2rem;
padding-left:2rem
}
/* 
.py2 {
padding-top:2rem;
padding-bottom:2rem
}

.p3 {
padding:3rem
}

.px3 {
padding-right:3rem;
padding-left:3rem
}

.py3 {
padding-top:3rem;
padding-bottom:3rem
}

.p4 {
padding:4rem
}

.px4 {
padding-right:4rem;
padding-left:4rem
}

.py4 {
padding-top:4rem;
padding-bottom:4rem
} */

.p-responsive {
padding:1.5rem
}

.px-responsive {
padding-right:1.5rem;
padding-left:1.5rem
}
/* 
.py-responsive {
padding-top:1.5rem;
padding-bottom:1.5rem
}

@media screen and (min-width: 48em) and (max-width: 64em) {
.p-responsive {
padding:3rem
}

.px-responsive {
padding-right:3rem;
padding-left:3rem
}

.py-responsive {
padding-top:3rem;
padding-bottom:3rem
}
} */

@media screen and (min-width: 64em) {
.p-responsive {
padding:4rem
}

.px-responsive {
padding-right:4rem;
padding-left:4rem
}

.py-responsive {
padding-top:4rem;
padding-bottom:4rem
}
}
/* 
.inline {
display:inline
}

.block {
display:block
}

.inline-block {
display:inline-block
}

.oh {
overflow:hidden
} */

.left {
float:left
}

.right {
float:right
}

.clearfix:before,.clearfix:after {
content:" ";
display:table
}

.clearfix:after {
clear:both
}
/* 
.fit {
max-width:100%
}

.full-width {
width:100%
}

.half-width {
width:50%
}

.mobile-show {
display:none
}

@media screen and (max-width: 48em) {
.mobile-show,.mobile-block {
display:block
}

.mobile-block {
width:100%
}

.mobile-hide {
display:none
}

.mobile-center {
text-align:center
}
}

.button {
font-family:inherit;
font-weight:700;
text-decoration:none;
cursor:pointer;
border:none;
-webkit-appearance:none;
appearance:none;
white-space:nowrap;
display:inline-block;
line-height:2rem;
height:auto;
min-height:2rem;
padding:.5rem 1rem
}

.button-big {
padding:1rem 1.5rem
}

.button-small {
padding:0 1rem
}

.form {
font-size:1rem
}

.input {
appearance:none;
border-style:solid;
border-width:1px;
-moz-box-sizing:border-box;
box-sizing:border-box;
max-width:100%;
height:3rem;
line-height:2rem;
padding:.5rem;
border-radius:.25rem
}

.select {
box-sizing:border-box;
height:3rem;
margin-right:0;
margin-left:0;
border-radius:.25rem
}

.textarea {
box-sizing:border-box;
padding:1rem;
line-height:1.5rem;
border-radius:.25rem
}

.form-stacked label,.form-stacked .input,.form-stacked .select {
display:block;
width:100%
}

.form-stacked .input,.form-stacked .select,.form-stacked .radio,.form-stacked .checkbox {
margin-bottom:1rem
}

.list {
padding-left:2rem
}

.list-simple {
list-style:none;
padding-left:0
}

.list-inline {
list-style:none;
padding-left:0
}

.list-inline li {
display:inline;
white-space:nowrap
}

.relative {
position:relative
}

.absolute {
position:absolute
}

.fixed {
position:fixed
}

.t0 {
top:0
}

.r0 {
right:0
}

.b0 {
bottom:0
}

.l0 {
left:0
}

.z1 {
z-index:1
}

.z2 {
z-index:2
}

.z3 {
z-index:3
}

.z4 {
z-index:4
}

.absolute-center {
top:0;
right:0;
bottom:0;
left:0;
margin:auto;
display:table
}

.white {
color:#fff
}

.blue {
color:#0096cc
}

.light-gray {
color:#eee
}

.mid-gray {
color:#777
}

.dark-gray {
color:#333
}

.red {
color:#f52
}

.green {
color:#0f6
}

.orange {
color:#fc2
}

.bg-white {
background-color:#fff
}

.bg-blue {
background-color:#0096cc
}

.bg-light-gray {
background-color:#eee
}

.bg-mid-gray {
background-color:#777
}

.bg-dark-gray {
background-color:#333
}

.bg-red {
background-color:#f52
}

.bg-green {
background-color:#0f6
}

.bg-orange {
background-color:#fc2
} */

body {
color:#333;
background-color:#fff
}

a {
color:#0096cc;
text-decoration:none
}
/* 
a:hover {
color:#007199
}

.button {
border-radius:.25rem;
transition-duration:.2s;
transition-timing-function:ease;
transition-property:box-shadow ,background-color
}

.button:focus {
outline:none;
box-shadow:0 0 0 2px white,0 0 1px 4px rgba(0,150,204,0.5)
}

.button-blue {
color:#fff;
background-color:#0096cc
}

.button-blue:hover {
color:#fff;
background-color:#004b66
}

.button-gray {
color:#fff;
background-color:#777
}

.button-gray:hover {
color:#fff;
background-color:#444
}

.form-light .input,.form-light .textarea,.form-light .select {
transition:box-shadow .2s ease;
border-color:#777
}

.form-light .input:focus,.form-light .textarea:focus,.form-light .select:focus {
outline:none;
border-color:#0096cc;
box-shadow:0 0 .125rem rgba(0,150,204,0.5)
}

.form-light .radio input,.form-light .checkbox input {
transition:box-shadow .2s ease
}

.form-light .radio input:focus,.form-light .checkbox input:focus {
outline:none;
box-shadow:0 0 0 2px white,0 0 1px 4px rgba(0,150,204,0.5)
}

.form-light .radio input {
border-radius:50%
}

.border {
border-style:solid;
border-width:1px
}

.border-top {
border-top-style:solid;
border-top-width:1px
}

.border-light-gray {
border-color:#eee
}

.rounded {
border-radius:.25rem
}

.transition-all {
transition:all .2s ease
} */

/* body {
font-family:"Merriweather","PT Serif",Georgia,"Times New Roman",serif
} */

html,body {
height:100%
}

.site-wrap {
min-height:100%;
margin-bottom:-100px
}

.site-wrap:after {
content:"";
display:block
}

.footer,.site-wrap:after {
height:100px
}

body {
/* font-size:1.5rem; */
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box
}

.gist,.gist .highlight .p {
font-size:.75rem
}

.gist .lines {
width:100%
}

.site-header a {
color:#333;
font-weight:300
}

.site-header nav a {
font-size:16px;
color:#666
}
/* 
.site-header nav a:hover {
color:#444;
opacity:1;
border-bottom:2px solid #444
} */

.site-nav a + a {
margin-left:1rem
}

.site-nav {
margin:0;
padding:0
}
/* 
.site-header a:hover,.posts .post a:hover .post-meta,.posts .post a:hover .post-title,.posts .post a:hover .post-summary {
opacity:.88
} */

.posts {
margin:0
}

.posts .post {
margin-bottom:1rem;
padding-bottom:.5rem;
border-bottom:thin solid #f3f3f3
}

.posts .post:last-child {
border-bottom:none;
margin-bottom:.5rem;
padding-bottom:0
}

.post-link .post-title {
margin-top:0;
font-weight:600;
color:#333
}
/* 
.pagination {
font-size:16px;
font-family:'Lato','Helvetica Neue',Helvetica,sans-serif;
font-weight:300;
text-align:center
}

.pagination a,.pagination .disabled {
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
background:#fafafa;
border-radius:.1875em;
border:1px solid #f3f3f3;
color:#333;
padding:1rem 1.5rem
}

.pagination .disabled {
opacity:.5
}

.pagination a:hover,.pagination a:focus {
background:#fff;
color:#477dca
}

.pagination a:active {
background:#f7f7f7
} */

.wrap .measure {
margin:0 auto
}

.meta,.post-meta {
width:auto;
font-size:1rem;
font-weight:300;
margin:0;
padding:.25rem 0;
color:#7a7a7a;
font-style:italic
}
/* 
.pagination .button {
font-size:1rem;
font-weight:300;
letter-spacing:1px
}

.button-disabled {
opacity:.55;
background-color:#999
}

.button-disabled:hover,.button-disabled:active,.button-disabled:focus {
cursor:not-allowed;
background-color:#999
}

form {
font-family:'Lato','Helvetica Neue',Helvetica,sans-serif;
font-weight:300;
font-size:1rem
}

textarea.input {
height:8rem
} */

p {
/* font-weight:300; */
line-height:1.75rem;
color:#333
}

pre,code {
font-family:Menlo,Monaco,"Courier New",monospace
}

code {
color:#7a7a7a
}

pre {
padding:1rem;
font-size:1.125rem;
line-height:1.25rem;
overflow-x:scroll;
margin-bottom:1rem
}
/* 
.highlight .p {
font-size:1.125rem;
line-height:1.125rem
} */

blockquote {
padding-left:2rem;
font-style:italic;
border-left:3px solid #7a7a7a
}
/* 
blockquote footer {
font-size:.85rem;
font-style:normal;
background-color:#fff;
color:#7a7a7a;
border-color:transparent
} */

h1,h2,h3 {
/* font-family:"Lato",'Helvetica Neue',Helvetica,sans-serif; */
font-weight:900;
margin-top:3rem
}
/* 
h4,h5,h6 {
font-family:"Lato",'Helvetica Neue',Helvetica,sans-serif;
font-weight:900;
margin-top:1rem
}

@media screen and (max-width: 48em) {
.site-header {
text-align:center
}

.site-header .site-nav {
width:100%;
float:left;
text-align:center;
margin-top:1rem;
margin-bottom:2rem
}
} */

@media screen and (min-width: 48em) {
.meta,.post-meta {
margin:0;
padding:0;
font-size:1rem
}

.h1,h1 {
font-size:3.25rem;
line-height:4.5rem
}

.h2,h2 {
font-size:2rem;
line-height:2.5rem
}

.h3,h3 {
font-size:1.5rem;
line-height:2rem
}

.p,p,li {
/* font-size:1.25rem;
line-height:2.25rem */
}
/* 
.small {
font-size:1rem
} */

.post-link .post-title {
margin-top:1rem
}

.posts .post {
margin-bottom:2rem;
padding-bottom:1rem;
border-bottom:thin solid #f3f3f3
}

.posts .post:last-child {
border-bottom:none;
margin-bottom:.5rem;
padding-bottom:0
}
}

@media screen and (min-width: 64em) {
.h1,h1 {
font-size:4.5rem;
line-height:6rem
}

.h2,h2 {
font-size:2.5rem;
line-height:2.75rem
}

.posts .post-meta {
padding-bottom:.25rem
}

.post-link .post-title {
margin-top:.25rem
}

.posts .post {
margin-bottom:2rem;
padding-bottom:1rem;
border-bottom:thin solid #f3f3f3
}

.posts .post:last-child {
border-bottom:none;
margin-bottom:1rem;
padding-bottom:0
}
}

footer {
border-top:thin solid #f3f3f3
}

footer,footer .wrap {
color:#7a7a7a;
background-color:#fafafa;
/* font-family:'Lato','Helvetica Neue',Helvetica,sans-serif; */
font-weight:300;
clear:both
}

footer:after {
content:"";
display:block
}

html {
/* font-family:sans-serif; */
font-family: "Salesforce Sans",Arial,sans-serif;
font-weight:300;
/* font-size: 16px;
line-height: 24px; */
}

body {
margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
display:block
}
/* 
audio,canvas,progress,video {
display:inline-block;
vertical-align:baseline
}

audio:not([controls]) {
display:none;
height:0
}

[hidden],template {
display:none
} */

a {
background-color:transparent
}
/* 
a:active,a:hover {
outline:0
}

abbr[title] {
border-bottom:1px dotted
} */

b,strong {
font-weight:700
}
/* 
dfn {
font-style:italic
} */

h1 {
font-size:2em;
margin:.67em 0
}
/* 
mark {
background:#ff0;
color:#000
} */

small {
font-size:80%
}
/* 
sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline
}

sup {
top:-.5em
}

sub {
bottom:-.25em
} */

img {
border:0
}
/* 
svg:not(:root) {
overflow:hidden
}

figure {
margin:1em 40px
}

hr {
box-sizing:content-box;
height:0
} */

pre {
overflow:auto
}

code,kbd,pre,samp {
font-family:monospace,monospace;
font-size:1em
}
/* 
button,input,optgroup,select,textarea {
color:inherit;
font:inherit;
margin:0
}

button {
overflow:visible
}

button,select {
text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
-webkit-appearance:button;
cursor:pointer
}

button[disabled],html input[disabled] {
cursor:default
}

button::-moz-focus-inner,input::-moz-focus-inner {
border:0;
padding:0
}

input {
line-height:normal
}

input[type="checkbox"],input[type="radio"] {
box-sizing:border-box;
padding:0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
height:auto
}

input[type="search"] {
-webkit-appearance:textfield;
box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}

fieldset {
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em
}

legend {
border:0;
padding:0
}

textarea {
overflow:auto
}

optgroup {
font-weight:700
}

table {
border-collapse:collapse;
border-spacing:0
}

td,th {
padding:0
} */

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

html {
background:#fff
}

body {
/* font-family:"Lora","Minion Pro",Palatino,Georgia,serif; */
color:#333;
/* font-size:16px;
line-height:1.5 */
}
/* 
.wrapper:before,.wrapper:after {
content:"";
display:table
}

.wrapper:after {
clear:both
}

.wrapper {
max-width:728px;
padding:0 24px;
margin:0 auto;
zoom:1
}

.group:before,.group:after {
content:"";
display:table
}

.group:after {
clear:both
}

.group {
zoom:1
}

::-moz-selection {
background:rgba(51,51,51,0.8);
color:#fff;
text-shadow:none
}

::selection {
background:rgba(51,51,51,0.8);
color:#fff;
text-shadow:none
}

.container {
width:980px;
margin-right:auto;
margin-left:auto
}

.container:before {
display:table;
content:""
}

.container:after {
display:table;
clear:both;
content:""
}

.columns {
margin-right:-10px;
margin-left:-10px
}

.columns:before {
display:table;
content:""
}

.columns:after {
display:table;
clear:both;
content:""
}

.column {
float:left;
padding-right:10px;
padding-left:10px
}

.one-third {
width:33.333333%
}

.two-thirds {
width:66.666667%
}

.one-fourth {
width:25%
}

.one-half {
width:50%
}

.three-fourths {
width:75%
}

.one-fifth {
width:20%
}

.four-fifths {
width:80%
}

.single-column {
padding-right:10px;
padding-left:10px
}

.table-column {
display:table-cell;
width:1%;
padding-right:10px;
padding-left:10px;
vertical-align:top
}

.section-header {
border-top:4px solid #c7c7c7;
border-bottom:2px solid #c7c7c7;
padding:.2rem 0 .4rem;
margin-bottom:1.5rem
}

.section-header h2 {
font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:900;
font-size:1.75rem;
letter-spacing:-.05rem;
margin:0
}

.page-header {
padding:1.5rem 0
}

.page-header .avatar {
width:95px;
max-width:100%;
overflow:hidden;
-webkit-border-radius:100px;
-moz-border-radius:100px;
border-radius:100px;
margin:0 auto;
display:block
}

.page-header .header-name {
font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:3rem;
font-weight:900;
text-align:center;
letter-spacing:-.15rem;
line-height:1;
margin:1rem 0 2rem
}

.page-header .title-bar {
border-top:4px solid #c7c7c7;
border-bottom:2px solid #c7c7c7;
padding:.2rem 0 .4rem;
padding:.4rem 0
}

.page-header .title-bar:before {
display:table;
content:""
}

.page-header .title-bar:after {
display:table;
clear:both;
content:""
}

.page-header .title-bar .header-title {
font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:300;
font-size:1.75rem;
line-height:2rem;
letter-spacing:-.05rem;
text-align:center;
margin:0 0 .5rem
}

@media (min-width: 600px) {
.page-header .title-bar .header-title {
float:left;
margin:0
}

.page-header .executive-summary {
font-size:1.125rem
}
}

.icon-links {
margin:0;
padding:0;
list-style:none;
position:relative;
top:4px;
text-align:center;
border-top:2px solid #c7c7c7;
padding-top:.4rem
}

@media (min-width: 600px) {
.icon-links {
float:right;
border-top:none;
padding-top:0
}
}

.icon-links .icon-link-item {
display:inline-block;
margin-left:5px
}

.icon-links .icon-link {
display:inline-block
}

.icon-links .icon-link:hover .icon path {
fill:#333;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
transition:all .2s ease
}

.contact-button {
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background-color:#efefef;
text-decoration:none;
text-align:center;
display:block;
margin:1.5rem auto;
width:220px;
font-size:1.375rem;
font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:300;
color:#333;
line-height:55px;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
transition:all .2s ease
}

.contact-button:hover {
background-color:#333;
color:#fff
}

.contact-button.not-looking {
width:400px
}

.content-section {
margin:0 0 3rem
}

.content-section .resume-item {
margin-bottom:2rem
}

.content-section .resume-item-title {
font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700;
margin:0 0 .75rem;
font-size:1.5rem;
letter-spacing:-.05rem;
line-height:1
}

.content-section .resume-item-details {
font-size:1.125rem;
margin:0 0 .75rem;
line-height:1
}

.content-section .resume-item-title a,.content-section .resume-item-details a,.content-section .resume-item-copy a,.content-section .resume-item-list a {
color:#333;
text-decoration:none;
border-bottom:1px solid
}

.content-section .resume-item-title a:hover,.content-section .resume-item-details a:hover,.content-section .resume-item-copy a:hover,.content-section .resume-item-list a:hover {
border-bottom:none;
color:#9c9c9c
}

.content-section .resume-item-copy {
margin:.75rem 0 0
}

.page-footer {
border-top:4px solid #c7c7c7;
padding-top:1.5rem;
text-align:center;
margin-bottom:3rem
}

.page-footer .footer-line {
margin:0;
font-size:.875rem;
color:#999
}

.page-footer .footer-line>a {
font-weight:700;
color:#333
} */

.highlight,.gist-syntax .highlight {
background-color:#002b36;
color:#93a1a1
}

.highlight .c,.gist-syntax .highlight .c {
color:#586e75
}

.highlight .err,.gist-syntax .highlight .err {
color:#93a1a1
}

.highlight .g,.gist-syntax .highlight .g {
color:#93a1a1
}

.highlight .k,.gist-syntax .highlight .k {
color:#859900
}

.highlight .l,.gist-syntax .highlight .l {
color:#93a1a1
}

.highlight .n,.gist-syntax .highlight .n {
color:#93a1a1
}

.highlight .o,.gist-syntax .highlight .o {
color:#859900
}

.highlight .x,.gist-syntax .highlight .x {
color:#cb4b16
}

.highlight .p,.gist-syntax .highlight .p {
color:#93a1a1
}

.highlight .cm,.gist-syntax .highlight .cm {
color:#586e75
}

.highlight .cp,.gist-syntax .highlight .cp {
color:#859900
}

.highlight .c1,.gist-syntax .highlight .c1 {
color:#586e75
}

.highlight .cs,.gist-syntax .highlight .cs {
color:#859900
}

.highlight .gd,.gist-syntax .highlight .gd {
color:#2aa198
}

.highlight .ge,.gist-syntax .highlight .ge {
color:#93a1a1;
font-style:italic
}

.highlight .gr,.gist-syntax .highlight .gr {
color:#dc322f
}

.highlight .gh,.gist-syntax .highlight .gh {
color:#cb4b16
}

.highlight .gi,.gist-syntax .highlight .gi {
color:#859900
}

.highlight .go,.gist-syntax .highlight .go {
color:#93a1a1
}

.highlight .gp,.gist-syntax .highlight .gp {
color:#93a1a1
}

.highlight .gs,.gist-syntax .highlight .gs {
color:#93a1a1;
font-weight:700
}

.highlight .gu,.gist-syntax .highlight .gu {
color:#cb4b16
}

.highlight .gt,.gist-syntax .highlight .gt {
color:#93a1a1
}

.highlight .kc,.gist-syntax .highlight .kc {
color:#cb4b16
}

.highlight .kd,.gist-syntax .highlight .kd {
color:#268bd2
}

.highlight .kn,.gist-syntax .highlight .kn {
color:#859900
}

.highlight .kp,.gist-syntax .highlight .kp {
color:#859900
}

.highlight .kr,.gist-syntax .highlight .kr {
color:#268bd2
}

.highlight .kt,.gist-syntax .highlight .kt {
color:#dc322f
}

.highlight .ld,.gist-syntax .highlight .ld {
color:#93a1a1
}

.highlight .m,.gist-syntax .highlight .m {
color:#2aa198
}

.highlight .s,.gist-syntax .highlight .s {
color:#2aa198
}

.highlight .na,.gist-syntax .highlight .na {
color:#93a1a1
}

.highlight .nb,.gist-syntax .highlight .nb {
color:#B58900
}

.highlight .nc,.gist-syntax .highlight .nc {
color:#268bd2
}

.highlight .no,.gist-syntax .highlight .no {
color:#cb4b16
}

.highlight .nd,.gist-syntax .highlight .nd {
color:#268bd2
}

.highlight .ni,.gist-syntax .highlight .ni {
color:#cb4b16
}

.highlight .ne,.gist-syntax .highlight .ne {
color:#cb4b16
}

.highlight .nf,.gist-syntax .highlight .nf {
color:#268bd2
}

.highlight .nl,.gist-syntax .highlight .nl {
color:#93a1a1
}

.highlight .nn,.gist-syntax .highlight .nn {
color:#93a1a1
}

.highlight .nx,.gist-syntax .highlight .nx {
color:#93a1a1
}

.highlight .py,.gist-syntax .highlight .py {
color:#93a1a1
}

.highlight .nt,.gist-syntax .highlight .nt {
color:#268bd2
}

.highlight .nv,.gist-syntax .highlight .nv {
color:#268bd2
}

.highlight .ow,.gist-syntax .highlight .ow {
color:#859900
}

.highlight .w,.gist-syntax .highlight .w {
color:#93a1a1
}

.highlight .mf,.gist-syntax .highlight .mf {
color:#2aa198
}

.highlight .mh,.gist-syntax .highlight .mh {
color:#2aa198
}

.highlight .mi,.gist-syntax .highlight .mi {
color:#2aa198
}

.highlight .mo,.gist-syntax .highlight .mo {
color:#2aa198
}

.highlight .sb,.gist-syntax .highlight .sb {
color:#586e75
}

.highlight .sc,.gist-syntax .highlight .sc {
color:#2aa198
}

.highlight .sd,.gist-syntax .highlight .sd {
color:#93a1a1
}

.highlight .s2,.gist-syntax .highlight .s2 {
color:#2aa198
}

.highlight .se,.gist-syntax .highlight .se {
color:#cb4b16
}

.highlight .sh,.gist-syntax .highlight .sh {
color:#93a1a1
}

.highlight .si,.gist-syntax .highlight .si {
color:#2aa198
}

.highlight .sx,.gist-syntax .highlight .sx {
color:#2aa198
}

.highlight .sr,.gist-syntax .highlight .sr {
color:#dc322f
}

.highlight .s1,.gist-syntax .highlight .s1 {
color:#2aa198
}

.highlight .ss,.gist-syntax .highlight .ss {
color:#2aa198
}

.highlight .bp,.gist-syntax .highlight .bp {
color:#268bd2
}

.highlight .vc,.gist-syntax .highlight .vc {
color:#268bd2
}

.highlight .vg,.gist-syntax .highlight .vg {
color:#268bd2
}

.highlight .vi,.gist-syntax .highlight .vi {
color:#268bd2
}

.highlight .il,.gist-syntax .highlight .il {
color:#2aa198
}