@charset "UTF-8";

body {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

html, body {
  height: 100%;
}

img {
  /*width: 100%;*/
}

.site-wrap {
  min-height: 100%;
  margin-bottom: -100px;
}

.site-wrap:after {
  content: "";
  display: block;
}

.footer, .site-wrap:after {
  height: 100px;
}

body {
  font-size: 1.5rem;

          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.gist,
.gist .highlight .p {
  font-size: .75rem;
}

.gist .lines {
  width: 100%;
}

.site-header a {
  color: #333;
  font-weight: 300;
}

.site-header nav a {
  font-size: 16px;
  color: #666;
}

.site-header nav a:hover {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

.site-nav a + a {
  margin-left: 1rem;
}

.site-nav {
  margin: 0;
  padding: 0;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .5rem;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.pagination {
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

.pagination a, .pagination .disabled {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #fafafa;
  border-radius: 0.1875em;
  border: 1px solid #f3f3f3;
  color: #333333;
  padding: 1rem 1.5rem;
}

.pagination .disabled {
  opacity: 0.5;
}

.pagination a:hover, .pagination a:focus {
  background: white;
  color: #477dca;
}

.pagination a:active {
  background: #f7f7f7;
}

.wrap .measure {
  margin: 0 auto;
}

.meta,
.post-meta {
  width: auto;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: .25rem 0;
  color: #7a7a7a;
  font-style: italic;
}

.pagination .button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.button-disabled {
  opacity: 0.55;
  background-color: #999;
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #999;
}

form {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

textarea.input {
  height: 8rem;
}

p {
  font-weight: 300;
  line-height: 1.95rem;
  color: #333;
}

pre, code {
  font-family: Menlo, Monaco, "Courier New", monospace
}

code {
  color: #7a7a7a;
}

pre {
  padding: 1rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

blockquote {
  padding: 2rem;
  font-style: italic;
  border-left: 5px solid #7a7a7a;
}

blockquote footer {
  font-size: .85rem;
  font-style: normal;
  background-color: #fff;
  color: #7a7a7a;
  border-color: transparent;
}

h1,
h2,
h3 {
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 3rem;
}

h4,
h5,
h6 {
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 1rem;
}

@media screen and (max-width: 48em) {
  .site-header {
    text-align: center;
  }

  .site-header .site-nav {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 48em) {
  .meta,
  .post-meta {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }

  .h1,
  h1 {
    font-size: 3.25rem;
    line-height: 4.5rem;
  }

  .h2,
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .h3,
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .p,
  p,
  li {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .small {
    font-size: 1rem;
  }

  .post-link .post-title {
    margin-top: 1rem;
  }

  .posts .post {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: thin solid #f3f3f3;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: .5rem;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 64em) {
  .h1,
  h1 {
    font-size: 4.5rem;
    line-height: 6rem;
  }

  .h2,
  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .posts .post-meta {
    padding-bottom: .25rem;
  }

  .post-link .post-title {
    margin-top: .25rem;
  }

  .posts .post {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: thin solid #f3f3f3;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }
}

footer {
  border-top: thin solid #f3f3f3;
}

footer,
footer .wrap {
  color: #7a7a7a;
  background-color: #fafafa;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  clear: both;
}

footer:after {
  content: "";
  display: block;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: bold
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    background: #fff
}
body {
    font-family: "Lora", "Minion Pro", Palatino, Georgia, serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5
}
.wrapper:before,
.wrapper:after {
    content: "";
    display: table
}
.wrapper:after {
    clear: both
}
.wrapper {
    max-width: 728px;
    padding: 0 24px;
    margin: 0 auto;
    zoom: 1
}
.group:before,
.group:after {
    content: "";
    display: table
}
.group:after {
    clear: both
}
.group {
    zoom: 1
}
::-moz-selection {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-shadow: none
}
::selection {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-shadow: none
}
.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto
}
.container:before {
    display: table;
    content: ""
}
.container:after {
    display: table;
    clear: both;
    content: ""
}
.columns {
    margin-right: -10px;
    margin-left: -10px
}
.columns:before {
    display: table;
    content: ""
}
.columns:after {
    display: table;
    clear: both;
    content: ""
}
.column {
    float: left;
    padding-right: 10px;
    padding-left: 10px
}
.one-third {
    width: 33.333333%
}
.two-thirds {
    width: 66.666667%
}
.one-fourth {
    width: 25%
}
.one-half {
    width: 50%
}
.three-fourths {
    width: 75%
}
.one-fifth {
    width: 20%
}
.four-fifths {
    width: 80%
}
.single-column {
    padding-right: 10px;
    padding-left: 10px
}
.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top
}
.section-header {
    border-top: 4px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    padding: .2rem 0 .4rem;
    margin-bottom: 1.5rem
}
.section-header h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.05rem;
    margin: 0
}
.page-header {
    padding: 1.5rem 0
}
.page-header .avatar {
    width: 95px;
    max-width: 100%;
    overflow: hidden;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 0 auto;
    display: block
}
.page-header .header-name {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -.15rem;
    line-height: 1;
    margin: 1rem 0 2rem
}
.page-header .title-bar {
    border-top: 4px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    padding: .2rem 0 .4rem;
    padding: .4rem 0
}
.page-header .title-bar:before {
    display: table;
    content: ""
}
.page-header .title-bar:after {
    display: table;
    clear: both;
    content: ""
}
.page-header .title-bar .header-title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -.05rem;
    text-align: center;
    margin: 0 0 .5rem
}
@media (min-width: 600px) {
    .page-header .title-bar .header-title {
        float: left;
        margin: 0
    }
}
@media (min-width: 600px) {
    .page-header .executive-summary {
        font-size: 1.125rem
    }
}
.icon-links {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 4px;
    text-align: center;
    border-top: 2px solid #c7c7c7;
    padding-top: .4rem
}
@media (min-width: 600px) {
    .icon-links {
        float: right;
        border-top: none;
        padding-top: 0
    }
}
.icon-links .icon-link-item {
    display: inline-block;
    margin-left: 5px
}
.icon-links .icon-link {
    display: inline-block
}
.icon-links .icon-link:hover .icon path {
    fill: #333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease
}
.contact-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #efefef;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 1.5rem auto;
    width: 220px;
    font-size: 1.375rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333;
    line-height: 55px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease
}
.contact-button:hover {
    background-color: #333;
    color: #fff
}
.contact-button.not-looking {
    width: 400px
}
.content-section {
    margin: 0 0 3rem
}
.content-section .resume-item {
    margin-bottom: 2rem
}
.content-section .resume-item-title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 .75rem;
    font-size: 1.5rem;
    letter-spacing: -.05rem;
    line-height: 1
}
.content-section .resume-item-details {
    font-size: 1.125rem;
    margin: 0 0 .75rem;
    line-height: 1
}
.content-section .resume-item-title a,
.content-section .resume-item-details a,
.content-section .resume-item-copy a,
.content-section .resume-item-list a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid
}
.content-section .resume-item-title a:hover,
.content-section .resume-item-details a:hover,
.content-section .resume-item-copy a:hover,
.content-section .resume-item-list a:hover {
    border-bottom: none;
    color: #9c9c9c
}
.content-section .resume-item-copy {
    margin: .75rem 0 0
}
.page-footer {
    border-top: 4px solid #c7c7c7;
    padding-top: 1.5rem;
    text-align: center;
    margin-bottom: 3rem
}
.page-footer .footer-line {
    margin: 0;
    font-size: .875rem;
    color: #999
}
.page-footer .footer-line>a {
    font-weight: 700;
    color: #333
}