$family-sans-serif: Nunito Sans, sans-serif
$family-display: "Iowan Old Style", "Palatino Linotype", "Book Antiqua", Georgia, serif
$family-monospace: monospace
$code: $primary
$title-weight: 300
$navbar-background-color: $background
$navbar-item-hover-background-color: $background
$navbar-item-hover-color: $secondary
