baseURL                          = "https://www.wadewegner.com/"    # Your domain name. Must end with "/"
theme                            = "introduction"
DefaultContentLanguage           = "en"                             # Default language for multilingual sites
disqusshortname                  = "wadewegner"                     # https://gohugo.io/content-management/comments
# disqus_url                       = "www.wadewegner.com"
googleAnalytics                  = "UA-1174672-2"                   # https://gohugo.io/templates/internal/#google-analytics
Title                            = "Wade Wegner"
# publishDir                       = "docs"

[params]
    themeStyle                   = "auto"                  # Choose "light" or "dark" or "auto"
    favicon                      = "/home/favicon.ico"     # Path to favicon file
    showRSSButton                = false                   # Show rss button in navigation
    fadeIn                       = false                   # Turn on/off the fade-in effect
    fadeInIndex                  = false                   # Turn on/off the fade-in effect on the index page even if fade-in was otherwise turned off
    dateFormat                   = "Jan 2, 2006"
    email                        = "wade.wegner@gmail.com" # E-mail address for contact section
    # customCSS                  = ["foo.css"]             # Include custom css files placed under assets/
    # customJS                   = ["foo.js"]              # Include custom JavaScript files placed under assets/
    # plausible                  = true                    # Use Plausible analytics (requires an account at Plausible.io)
    description                  = "test 123"

    # Configure the home page
    [params.home]
        introHeight              = "small"                # Input either "medium" or "large" or "fullheight"
        showLatest               = true                    # Show latest blog post summary
        showAllPosts             = false                   # Set true to list all posts on home page, or set false to link to separate blog list page
        allPostsArchiveFormat    = true                    # show all posts in an archive format
        numberOfProjectsToShow   = 3                       # Maximum number of projects to show on home page. Unset or comment out to show all projects
        localTime                = false                   # Show your current local time in contact section
        timeZone                 = "America/Los_Angeles"   # Your timezone as in the TZ* column of this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
        timeFormat               = "en-US"                 # Language specific format to use
    [params.projects]
        useTwoColumns            = false                   # Use a layout with two columns instead of three
    [params.blog]
        showLatest               = false

    # Share buttons on blog post pages
    [params.share]
        twitter                  = false
        facebook                 = false
        googlePlus               = false
        pinterest                = false

    # Social icons appear in introduction and contact section. Add as many more as you like.
    # Icon pack "fab" includes social network icons, see: https://fontawesome.com/icons?d=gallery&s=brands&m=free
    # Icon pack "fas" includes solid style icons, see: https://fontawesome.com/icons?d=gallery&s=solid&m=free
    [[params.social]]
        url   = "https://twitter.com/WadeWegner"
        icon  = "twitter" # icon name without the 'fa-'
        icon_pack = "fab"
        [[params.social]]
        url   = "https://linkedin.com/in/wadewegner/"
        icon  = "linkedin-in" # icon name without the 'fa-'
        icon_pack = "fab"
#    [[params.social]]
#        url = "mailto:youremail@email.com"  # For a direct email link, use "mailto:test@example.org".
#        icon = "paper-plane" # icon name without the 'fa-'
#        icon_pack = "fas"

# If you don't want to use the default menu, you can define one by yourself
[[menu.main]]
    name    = "Home"
    url     = "/"
    weight  = 1
[[menu.main]]
    name    = "All Posts"
    url     = "/blog/"
    weight  = 2
[[menu.main]]
    name    = "About"
    url     = "/about/"
    weight  = 3


# We only use tag as a taxonomies
# You can add more by yourself
[taxonomies]
  tag = "tags"
  series = "series"

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark]
  [markup.goldmark.renderer]
    unsafe = true
  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    # For styles, see https://xyproto.github.io/splash/docs/longer/all.html
    style = "friendly"
    tabWidth = 4

[permalinks]
    blog = "/:year/:month/:title/"

