# This will be your default build command
[build]
  publish = "./docs/"
  command = "npm install -g postcss postcss-cli autoprefixer && hugo --gc --minify"

[build.environment]
  HUGO_VERSION = "0.109.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

# This will be your preview build
[context.deploy-preview]
  command = "npm install -g postcss postcss-cli autoprefixer && hugo --config config.toml,config-prod.toml --buildFuture --buildDrafts --gc -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.109.0"
