<section class="post-archive-section">
    {{ range .Pages.GroupByDate "2006" "desc" }}
    <h2 class="title is-2 top-pad">{{ .Key }}</h2>
    <ul class="post-archive">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li class="post-item">
            {{ if .Params.date }}
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format ($.Site.Params.dateFormat | default ":date_medium") }}</time>
            <span aria-hidden="true"> - </span>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</section>
