<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="left">{{ site.title }}</a>
      <nav class="site-nav right">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      <!-- <div>

      	<input type="text" class="input mr1" placeholder="Search" id="query">
 		<input type="submit" class="button button-blue" value="Search" id="submit">

      </div>
 -->
		
    </div>
  </div>
</header>
