<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ block "head" . }}
        {{ partial "head/metadata.html" . }}
        {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ end }}
        <!-- Include page specific css -->
        {{ block "customCSS" . }}
        {{ end }}
    </head>
    <body>
        <!-- Navigation at the top -->
        {{ partial "nav.html" . }}
        
        <main id="top" class="site-main">
            <!-- Page Title -->
            <div class="site-container {{ if .Site.Params.fadeIn | default true }}fade-in one{{ end }}">
                {{ block "title" . }}
                <h1 class="page-title">{{ .Title | markdownify }}</h1>
                {{ end }}
            </div>
            
            <!-- Main Content -->
            <div class="site-container {{ if .Site.Params.fadeIn | default true }}fade-in two{{ end }}">
                {{ block "main" . }}
                {{ end }}

                {{ block "footer" . }}
                {{ if (not .Params.noComment) }}
                {{ partial "top-icon-with-hr.html" . }}
                {{ end }}
                {{ end }}
            </div>
        </main>
        
        {{ block "js-include" . }}
        {{ partial "footer/scripts.html" . }}
        {{ end }}
        <!-- Include page specific scripts -->
        {{ block "customScripts" . }}
        {{ end }}
    </body>
</html>
